name: Build

on:
  push:
  workflow_dispatch:
  schedule:
    # Splunk App Inspect checks - https://dev.splunk.com/enterprise/docs/whatsnew/#AppInspect-updates
    - cron: "0 0 1 * *"

permissions: {}

jobs:
  cloc:
    name: CLOC
    runs-on: ubuntu-22.04
    permissions:
      contents: read
    steps:
      - name: Checkout repo
        uses: actions/checkout@34e114876b0b11c390a56381ad16ebd13914f8d5 # v4.3.1
        with:
          persist-credentials: false

      - name: Install cloc
        run: |
          sudo apt-get update
          sudo apt-get -y install cloc

      - name: Print lines of code
        run: cloc --include-lang CSS,JavaScript,XML,Python --vcs git

  build-ui:
    name: Build UI
    runs-on: ubuntu-22.04
    defaults:
      run:
        working-directory: ./ui
    steps:
      - name: Checkout repo
        uses: actions/checkout@d632683dd7b4114ad314bca15554477dd762a938 # v4.2.0
        with:
          persist-credentials: false

      - name: Set up Node
        uses: actions/setup-node@1e60f620b9541d16bece96c5465dc8ee9832be0b # v4.0.3
        with:
          cache: "npm"
          cache-dependency-path: "**/package-lock.json"
          node-version: v20.0.0

      - name: Install dependencies
        run: npm ci

      - name: Build
        run: npm run build

      - name: Upload artifact
        uses: actions/upload-artifact@50769540e7f4bd5e21e526ee35c689e35e0d6874 # v4.4.0
        with:
          name: bitwarden_event_logs_ui
          path: ui/dist/setup/*
          if-no-files-found: error

  build-artifacts:
    name: Build artifacts
    runs-on: ubuntu-22.04
    needs: build-ui
    permissions:
      contents: read
    steps:
      - name: Checkout repo
        uses: actions/checkout@34e114876b0b11c390a56381ad16ebd13914f8d5 # v4.3.1
        with:
          persist-credentials: false

      - name: Install poetry
        run: pipx install poetry

      - name: Set up Python 3.9
        uses: actions/setup-python@e797f83bcb11b83ae66e0230d6156d7c80228e7c # 6.0.0
        with:
          python-version: "3.9"

      - name: Print environment
        run: |
          poetry env info
          echo "GitHub ref: $GITHUB_REF"
          echo "GitHub event: $GITHUB_EVENT"

      - name: Pull dependencies
        run: |
          poetry env use 3.9
          poetry install --no-cache --no-root
          poetry self add poetry-plugin-export
          mkdir package/lib
          poetry export -f requirements.txt --output package/lib/requirements.txt
          poetry install --no-cache --no-root --with dev,test,splunkslim

      - name: Tests
        run: poetry run pytest

      - name: Prepare UI
        run: mkdir -p package/appserver/static/setup

      - name: Download UI
        uses: actions/download-artifact@fa0a91b85d4f404e444e00e005971372dc801d16 # v4.1.8
        with:
          name: bitwarden_event_logs_ui
          path: package/appserver/static/setup

      - name: Build Splunk App
        run: |
          mkdir package/bin
          cp -R src/* package/bin/
          APP_VERSION=$(poetry version | awk -F ' ' '{print $2}')
          poetry run ucc-gen build --ta-version "${APP_VERSION}"
          # cleanup python files
          rm -rf output/bitwarden_event_logs/{bin,lib}/__pycache__
          rm -rf output/bitwarden_event_logs/bin/{bitwarden_event_logs_rh_settings.py,import_declare_test.py}
          # remove ucc-gen not used files
          rm -rf output/bitwarden_event_logs/appserver/static/{css,js,openapi.json}
          rm -rf output/bitwarden_event_logs/appserver/templates/base.html
          rm -rf output/bitwarden_event_logs/default/{restmap.conf,web.conf,bitwarden_event_logs_settings.conf}
          rm -rf output/bitwarden_event_logs/README/bitwarden_event_logs_settings.conf.spec
          rm -rf output/bitwarden_event_logs/lib/charset_normalizer
          mv output/bitwarden_event_logs/lib/linux/charset_normalizer output/bitwarden_event_logs/lib/charset_normalizer
          poetry run ucc-gen package --path output/bitwarden_event_logs -o output/
          mv output/bitwarden_event_logs*.tar.gz output/bitwarden_event_logs.tar.gz

      - name: Validate artifact
        run: |
          poetry run slim validate output/bitwarden_event_logs.tar.gz 2>&1 | tee output.txt
          if grep -q "\[ERROR\]" "output.txt"; then
            echo "ERROR(s) found."
            exit 1
          fi
          rm -f output.txt
          poetry run splunk-appinspect inspect --mode precert output/bitwarden_event_logs.tar.gz 2>&1 | tee output.txt
          if ! grep -q -E "error:[ \t]+0" "output.txt"; then
            echo "ERRORS(s) found."
            exit 1
          fi
          if ! grep -q -E "failure:[ \t]+0" "output.txt"; then
            echo "ERRORS(s) found."
            exit 1
          fi

      - name: Upload artifact
        uses: actions/upload-artifact@330a01c490aca151604b8cf639adc76d48f6c5d4 # v5.0.0
        with:
          name: bitwarden_event_logs.tar.gz
          path: output/bitwarden_event_logs.tar.gz
          if-no-files-found: error

  check-failures:
    name: Check for failures
    if: always()
    runs-on: ubuntu-22.04
    needs:
      - cloc
      - build-artifacts
    permissions:
      id-token: write
    steps:
      - name: Check if any job failed
        if: |
          (github.ref == 'refs/heads/main'
          || github.ref == 'refs/heads/rc'
          || github.ref == 'refs/heads/hotfix-rc')
          && contains(needs.*.result, 'failure')
        run: exit 1

      - name: Log in to Azure
        if: failure()
        uses: bitwarden/gh-actions/azure-login@main
        with:
          subscription_id: ${{ secrets.AZURE_SUBSCRIPTION_ID }}
          tenant_id: ${{ secrets.AZURE_TENANT_ID }}
          client_id: ${{ secrets.AZURE_CLIENT_ID }}

      - name: Retrieve secrets
        id: retrieve-secrets
        uses: bitwarden/gh-actions/get-keyvault-secrets@main
        if: failure()
        with:
          keyvault: "bitwarden-ci"
          secrets: "devops-alerts-slack-webhook-url"

      - name: Log out from Azure
        if: failure()
        uses: bitwarden/gh-actions/azure-logout@main

      - name: Notify Slack on failure
        uses: act10ns/slack@44541246747a30eb3102d87f7a4cc5471b0ffb7d # v2.1.0
        if: failure()
        env:
          SLACK_WEBHOOK_URL: ${{ steps.retrieve-secrets.outputs.devops-alerts-slack-webhook-url }}
        with:
          status: ${{ job.status }}
